:root {
  /* Colors */
  --active-states-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --subtle-background-color: #e7e9fc;
  --light-background-color: #f4f4fd;
  --modal-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul > li {
  list-style-type: none;
}

address {
  font-style: normal;
}

address a:hover,
address a:focus {
  color: var(--active-states-color);
}

header nav .logo {
  text-transform: uppercase;
  color: var(--active-states-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link-nav {
  color: var(--dark-color);
  font-weight: 500;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--pressed-state-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--pressed-state-color);
}

.btn {
  cursor: pointer;
  border: 1px solid var(--light-background-color);
  background: var(--cloud, #f4f4fd);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
}

.cards > ul > li {
  border: 1px solid var(--subtle-background-color);
  background-color: var(--white-background-color);
}

.card-title {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.card-text {
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

footer {
  height: 312px;
  background-color: var(--dark-color);
  color: var(--light-background-color);
}

footer a {
  color: var(--light-background-color);
  text-transform: uppercase;
}

.accent {
  color: var(--dark-color);
}
